/* Global Styles */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Home Page Styles */
  #home {
    text-align: center;
  }
  
  .button {
    display: block;
    margin-left: 00px;
    padding: 10px 20px;
    background-color: #243bea;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .business-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  /* Contact Page Styles */
  #contact {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  form div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 100px;
  }
  
  button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation: fadeIn 1s ease;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    header {
      padding: 5px;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  
    main {
      padding: 10px;
    }
  
    #home h1 {
      font-size: 24px;
    }
  
    #home p {
      font-size: 16px;
    }
  
    .business-image {
      margin-top: 10px;
    }
  
    form {
      max-width: 100%;
    }
  
    form div {
      margin-bottom: 10px;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      padding: 8px;
    }
  
    textarea {
      height: 80px;
    }
  
    button[type="submit"] {
      padding: 8px 16px;
    }
  }